@font-face {
    font-family: 'Ogg';
    src: url(/fonts/OggRegular.ttf) format(opentype),
    url(/fonts/OggRegular.otf) format(opentype),
    url(/fonts/OggRegular.woff) format(woff),
    url(/fonts/OggRegular.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
    display: optional;
}

@font-face {
    font-family: 'Ogg';
    src: url(/fonts/Ogg-RegularItalic.ttf) format(opentype),
    url(/fonts/Ogg-RegularItalic.otf) format(opentype),
    url(/fonts/Ogg-RegularItalic.woff) format(woff),
    url(/fonts/Ogg-RegularItalic.woff2) format(woff2);
    font-style: italic;
    font-weight: 400;
    display: optional;
}

@font-face {
    font-family: 'Ogg';
    src: url(/fonts/OggLightItalic.ttf) format(opentype),
    url(/fonts/OggLightItalic.otf) format(opentype),
    url(/fonts/OggLightItalic.woff) format(woff),
    url(/fonts/OggLightItalic.woff2) format(woff2);
    font-style: italic;
    font-weight: 300;
    display: optional;
}

@font-face {
    font-family: 'Trade Gothic LT Extended';
    src: url(/fonts/Trade\ Gothic\ LT\ Extended.otf) format(opentype),
    url(/fonts/Trade\ Gothic\ LT\ Extended.ttf) format(opentype),
    url(/fonts/Trade\ Gothic\ LT\ Extended.woff) format(woff),
    url(/fonts/Trade\ Gothic\ LT\ Extended.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    display: optional;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container {
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 1fr));
}

.inscription {
    grid-column: 1 / 2;
    margin-right: 25px;
    margin-top: 15px;
    justify-self: end;
}

.header {
    margin-left: 85px;
    margin-bottom: 100px;
    font-family: 'Ogg';
    font-weight: 400;
    font-size: 60px;
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.heading {
    font-family: 'Ogg';
    font-weight: 400;
    font-size: 60px;
}

.heading__italic {
    font-family: 'Ogg';
    font-style: italic;
    font-weight: 400;
}

.header__paragraph {
    font-family: 'Trade Gothic LT Extended';
    color: #71870E;
    font-size: 16px;
    max-width: 420px;
    align-self: flex-end;
}

.form {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}